@import "tailwindcss";

/* 1) daisyui 플러그인 등록 */
@plugin "daisyui";

/* 2) corporate 테마 커스텀 정의 */

@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(55% 0.046 257.417);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
